.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.food-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  gap: 20px;
}

.food-container::-webkit-scrollbar {
  display: none;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dedddb;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-button.left {
  left: 0;
  display: none;
}

.scroll-button.right {
  right: 0;
  display: none;
}

.scroll-button.left.hidden {
  display: none;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.card {
  width: 122px;
  height: 116px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.3s ease;
}

.card-image-container {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.type-card-caption {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding: 4px 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 32.68px;
}

.card-wrapper.active .card {
  background-color: #06c167;
}

/* Adjust card size for smaller screens to fit 4-5 cards */
@media only screen and (max-width: 768px) {
  .card {
    width: 55px;
    height: 55px;
  }

  .card-image-container {
    width: 30px;
    height: 30px;
  }

  .card-image {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 10px;
  }

  .type-card-caption {
    padding: 4px 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
  }

  .scroll-button {
    display: block;
  }
  .food-container {
    gap: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .scroll-button {
    display: block;
  }
  .food-container {
    gap: 10px;
  }
}

@media only screen and (min-width: 1025px) {
  .scroll-button {
    display: none;
  }
  .card-wrapper {
    min-width: 50px;
  }
  .food-container {
    justify-content: space-around;
    overflow-x: visible;
    gap: 10px;
  }
}
